@font-face {
  font-family: 'Input';
  src: url("InputMono/InputMono-Regular.ttf");
}

*{
  font-family: 'Input', monospace;
}

video{
  width: 900px;
  height: 300px;
  padding-top: 100px;
  display: block;
  margin: 0 auto;
}

.enter{
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  font-size: 24px;
  border: 1px solid black;
  width: 100px;
  text-decoration: none;
  color: Black;
}
a:hover{
  background-color: yellow;
}
button{
  display: block;
  margin: 0 auto;
  padding: 15px;
  font-size: 24px;
  background-color: white;
  border: 1px solid black;
}
#myBtn{
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}

button:hover{
  cursor: pointer;
  background-color: yellow
}

.modal {
  display: none;
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.bubble{
  height: auto;
  width: 500px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}

.border{
  display: block;
  border: 1px solid;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  margin-top: 45px;
}
