

.home{
  float: right ;
  padding: 10px;
}

.video{
  display: block;
  margin: 0 auto;
  margin-top:30px;
  width: 425px;
  height: 425px;
  border: 2px solid;
}

.personalspace{
  display: block;
  margin: 0,auto;
  width: 425px;
  height: 425px;
  padding: 0;
}

.bub{
  width: 500px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}

ul{
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
}

.option{
  display: block;
  text-align: center;
  margin: 10px 78px;
  border: 2px solid;
  padding: 5px;
}

.next{
  display:block;
  text-align: center;
  margin: 10px 550px;
  border: 2px solid;
  padding: 5px;
}

a{
  text-decoration: none;
  color: black

}
